.firstContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}



.right{
    width: 25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #bec4c9;
    padding-top: 3%;
}


.banner{
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .5rem;
    text-align: center;
} 


.item{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    gap:40px;
    letter-spacing: .5rem;
}

.col1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.outter{
display: flex;
flex-direction: column;
gap: 100px;
height: 100%;
background-color: rgba(178, 179, 178, 0.705);
padding-top: 4%;
padding-bottom: 6.8%;
}