html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul{
  padding:0;
}

body{
  background-color: #8d8990;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* button{
  border-radius: 8px;
  width: 210;
  height: 70px;
} */

footer{
  padding-left: 0;
  padding-right: 0;
}

::placeholder, select{
  color: #676772;
}

h2{
  font-size: 40px;
  text-align: center;
}


textarea{
  height: 44rem;
}

p{
  margin: 0;
}

