.container {
  padding: 0 2rem;
}


.img{
  border-radius:5%;
}


.flex{
  display:flex;
  align-items:center;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 2%;
}

.flexinner{
  margin-right: 5%;
}


.nameWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap:0px;
  padding-left: 2%;
  padding-right: 2%;
}


.message{
  font-size: 70px;
  width: 70%;
}

.best{
  color: #f19bd2;
  text-transform: uppercase;
  border-bottom: solid 8px #000000;
}

.btn{
  font-size: 1.8rem;

  display: inline-block;
  cursor: pointer;
  color: #ffffff;
}



.footer{
  background-color: #211f1f;
  color:#ffffff;
  height: 150px;
  margin: 0;
}
